header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    
    height: 80px;

    background-color: black;
    color: white;
    border-bottom: 2px solid rgb(116, 116, 116);

    font-size: 1.5rem;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    font-size: 1.2rem;

}

nav a{
    color: white;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

#menu-icon{
    display: none;
}

#cross-icon{
    display: none;

}


/* Media querries */

@media(max-width:1350px){
    .club{
        font-size:1.1rem ;
    }
}

@media (max-width:1220px){
    nav a{
        font-size: 1rem;
    }
    
    nav{
        width: 50%;
    }

    .club{
        font-size:0.95rem ;
    }

    
}


@media (max-width:600px){
    nav{
        flex-direction: column;
        position: absolute;
        right: 0.5px;
        top: 80px;
        background-color: black;
        border: 2px solid white;
    display: none;

    }

    nav a{
        display: flex;
        justify-content: start;
        margin: 10px 0px;
        border-bottom: 0.5px solid white;
    }

    #menu-icon{
        display: block;
        font-size: 2rem;
    }

    #cross-icon{
        font-size: 2rem;

    }

    .club{
        font-size:0.85rem ;
    }

    #image{
        height: 60px;
        width: 60px;
    }
}